body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Questrial";
}

header {
  text-align: center;
  padding: 10px 0;
  background-color: black;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

header img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  background-color: white;
  border-radius: 100%;
}

.banner {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
  opacity: 80%;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 58px;
  padding: 12px 50px;
  background-color: rgb(240, 235, 233);
  margin-bottom: 2rem;
  z-index: 11;
}

nav ul {
  display: flex;
  gap: 50px;
  justify-content: center;
  list-style-type: none;
  font-weight: bold;
  font-size: 14px;
}

nav div {
  display: flex;
  gap: 50px;
  font-size: 1.2rem;
  justify-content: center;
  align-items: center;
}

nav div a i {
  background-color: rgb(226, 218, 218);
  border-radius: 100%;
  padding: 10px;
}

nav div a i:hover {
  color: darkorange;
}

nav div a:hover {
  position: relative;
  top: -3px;
}

nav div a {
  color: black;
}

/* nav div a:nth-of-type(1) i {
  color: black;
}

nav div a:nth-of-type(2) i {
  color: rgb(22, 22, 241);
}
nav div a:nth-of-type(3) i {
  color: rgb(143, 7, 143);
}

nav div a:nth-of-type(4) i {
  color: rgb(180, 7, 36);
} */
nav ul li {
  cursor: pointer;
}

nav ul li:hover {
  color: darkorange;
}

nav ul .home {
  color: orangered;
  font-weight: 700;
}

.about-me {
  display: flex;
  justify-content: center;
}

.about-me div {
  width: 100%;
  margin: 20px 5%;
  gap: 20px;
  padding: 0 20px;
}

.left-section {
  padding: 30px;
  text-align: center;
  max-width: 80%;
}

.left-section h1 {
  font-size: 2rem;
  font-weight: 300;
  white-space: nowrap;
}

/* .left-section h1 span {
  font-size: 3rem;
  font-weight: 500;
} */

.left-section ul {
  display: flex;
  text-align: center;
  white-space: nowrap;
  font-weight: 500;
  gap: 30px;
  list-style-type: none;
  font-size: 12px;
  color: rgb(85, 80, 80);
  list-style-type: disc;
}

.left-section p {
  padding: 60px;
  margin: 30px 0;
  border: 1px solid white;
  line-height: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.left-section p span {
  font-size: 2rem;
}
.resume-button {
  padding: 12px;
  background-color: orangered;
  color: white;
  border-style: none;
  font-weight: 400;
  font-size: 1rem;
  border-radius: 8px;
  font-family: "Roboto";
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.15s ease;
}

.resume-button:hover {
  cursor: pointer;
  background-color: darkorange;
  color: white;
}

.right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right-section img {
  width: 80%;
  height: 80%;
  object-fit: contain;
  border-radius: 30%;
}

.right-section-icons a i {
  font-size: 1.2rem;
  color: black;
}

.skills-container-1 {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.frontend,
.project-management {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.frontend-skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  text-align: center;
}

.project-management-skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  text-align: center;
}

.frontend-skills div,
.project-management-skills div {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 3px;
  padding: 8px;
  font-size: 14px;
  font-weight: 700;
  font-family: "Courier New", Courier, monospace;
}

.frontend-skills div:hover,
.project-management-skills div:hover {
  cursor: pointer;
  background-color: rgb(214, 209, 209);
  border: 1px solid black;
  color: black;
}

/* .skills-container-1 .frontend div,
.skills-container-1 .project-management {
  display: flex;
  justify-content: space-between;
  background-color: #f4f4f4;

} */

.project-slider {
  position: relative;
  overflow: hidden;
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
}

.project-track {
  display: flex;
  transition: transform 0.5s ease;
}

.project-card {
  padding: 20px;
  min-width: 100%;
  box-sizing: border-box;
  padding: 20px;
  text-align: center;
}

.project-card img {
  width: 100%;
  height: 500px;
  object-fit: contain;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.project-links {
  margin-top: 15px;
}

.project-links a {
  margin: 0 10px;
  padding: 8px 16px;
  background-color: green;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.project-links a:hover {
  background-color: darkorange;
}

.slider-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 12px;
  cursor: pointer;
  font-size: 24px;
  border-radius: 50%;
  z-index: 10;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
.experience-section {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 20px 60px;
}

.experience-container {
  display: flex;
}

.experience-inner-container {
  display: flex;
  flex-direction: column;
}

.bottom-section {
  display: flex;
}
.experience-banner {
  height: 250px;
  background-color: black;
  margin: 30px;
  color: white;
  font-size: 2rem;
}
